# Install PyTorch separately first with:
# pip install torch==2.5.0 torchvision==0.20.0 torchaudio==2.5.0 --index-url https://download.pytorch.org/whl/cu124

torch==2.5.0
pytorch-lightning==2.4.0
numpy==1.24.4
pandas==2.0.3
scipy==1.11.4
scikit-learn==1.3.2
rdkit==2023.9.4